@font-face {
    font-family: 'AlternateGothic';
    src: url('../fonts/alternateGothic.ttf') format('truetype');
         
}

body{
    font-family: 'Lato', sans-serif;
    min-width: 320px;
    font-size: 14px;
}
img{
    width: 100%;
    height: auto;
}
.list{
    list-style: none;
}
.header_bg{
    background: #333333;
    padding-bottom: 50px;
}

.logo{
    color: #fff;    
    font-size: 55px;
    font-family: 'AlternateGothic', sans-serif;
    font-weight: 800;   
}

.red_point{
    width: 6px;
    height: 6px;
    display: inline-block;
    background: #e8272a;  
    margin:0 2px;  
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:#e8272a;
}
#active_red{
    color: red;
}
.get_btn{
    display: inline-block;
    color:#fff;
    border-color: #a7a7a7;
    font-weight: 700;
    margin-left: 10px;
    
}
.get_btn:hover{
    background: #fe2232;
}
.get_tady {
    list-style: none;   
    margin: 0 auto;
}
.head_title{
    color:#fff;
    font-size: 38px;
    font-weight: 300;
    margin-top: 30px;
    text-align: center;
}
.bold{
    font-weight: bold;
}

.location{
    position: relative;
    
}
#map{
    width: 100%;
    height: 480px;
    display: block;
}

.title_events_map{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.text_events{
    font-weight: 400;
    color:#646464;
    line-height: .7;
    font-size: 14px;
    
}
.event_title{
    font-size: 24px;
    font-weight: bold;
}
.event_suptitle{
    font-size: 15px;
    font-weight: 600;
}
.text_events1{
    font-size: 12px;
    color:#9b9b9b;
    line-height: 0.7;  
}
.text_events2{
    font-size: 13px;
    line-height: 1.3;

}
.gm-style .gm-style-iw-c {
    transform: translate(-80%,-100%);
}
div .gm-style-iw-a .gm-style-iw-d
.gm-style-iw-t{
    overflow: hidden;
}
.gm-style .gm-style-iw-c {
    padding: 0;
}
.gm-style .gm-style-iw-d::-webkit-scrollbar {
 display: none;
}
/*tabs*/

.submenu li{
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;	
}
.submenu li:first-child{
	padding-right: 30px;
}
.submenu li a{
	text-decoration: none;
	color: #B3B3B3;
}
.nav-tabs{
    border-bottom:0;
}
.nav-tabs .nav-link {
    border: none;
    padding: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    
	border-bottom: 4px #FE2232 solid;
	padding-bottom: 20px;
	color: #333;
}
.act input{
	margin-top: 13px;
	border-radius: 2px;
}
.text_in::-webkit-input-placeholder{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #252424;
}
.text_in::-moz-placeholder{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #252424;
}
.text_in:-moz-placeholder{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #252424;
}
.text_in:-ms-input-placeholder{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #252424;
}
.text_in{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

.you_location{
	margin-right: 0;
	font-size: 14px;
	font-weight: 400;
}
.geo{
	position: absolute;
	top: 31%;
    left:80%;
    width: 20px;
    height: 20px;
    
}
.you_location{
	position: relative;
	margin-top: 13px;
	border-radius: 2px;
	max-width: 320px;
}
.calendar{
	position: absolute;
	top: 23%;
    left: 90%;
    width: 28px;
    height: 28px;
}

@media (max-width:576px) { 
   
   .you_location{
    width:60%;
   }
    .geo{
    left:50%;
    top: 43%;    
    }
    .calendar{
    left:80%;
    top: 31%;
    }
}
@media (min-width:576px) { 
   
    .geo{
    left:57%;
    top: 43%;    
    }
    .calendar{
    left:90%;
    top: 31%;
    }
}
@media (min-width:768px) { 
   
    .geo{
    left:43%;
    top: 43%;    
    }
    .calendar{
    left:48%;
    top: 31%;
    }
}
@media (min-width:992px) { 
    .geo{
    left:31%;
    top: 43%;
    }
    .calendar{
    left:36%;
    top: 31%;
    }
    .act2{
        margin:0 auto;
    }
}
@media (min-width:1200px) { 
    .geo{
    left:80%;
    top: 31%;
    }
    .calendar{
    left:90%;
    top: 23%;
    }
    .act2{
        margin:0 auto;
    }
}
/*events*/
.bg_grey{
    background: #f4f4f4;
   
}
.card-body{
    height:250px;
}
.event_image{
    position: relative;
    display: block;
    overflow: hidden;
}
.event_image:after{
    background: transparent;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 22%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(255, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 22%,rgba(0,0,0,0.65) 100%);
    content: "";
    display:none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;

    
}

.card:hover .event_image:after{
   display: block;
}
.card:hover .mask{
    opacity: 1;
}
.mask{
    position: absolute;
    opacity: 0;
    bottom:-2%;
    left: 0;
    z-index: 2;
}
.mask li{
    list-style: none;
   
}
.event_bg{
    border: none;
    overflow: hidden;
    border-radius:6px;
    box-shadow: 0px 0px 5px -2px;
    background:#fff;
}
.women,.men{
    position: relative;
    font-family: 'Myriad Pro',sans-serif;
    background: #f7f7f7;
    text-align: center;
}
.men:before{
    content: "";
    display: block;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 18px;
    height: 47px;

    background: url(../image/css_sprites.png) -88px -22px;

}
.women:before{
     content: "";
    display: block;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 23px;
    height: 47px;

    background: url(../image/css_sprites.png) -22px -22px;

}
.women{
    border-left: 2px solid #fff;
}
.male{
    font-size: 14px;
    font-weight: bold;
    color: #d0d0d0;
    text-transform: uppercase;
}
.persent{
    font-size: 32px;
    font-weight: bold;
    margin:20px 0 -5px 10px;
}
.event_date{
    color: #fff;
    font-size: 14px;
}
.soc_icon{
    display: block;
    background: url(../image/css_sprites.png) -22px -114px;
    width: 30px; 
    height: 30px;

    
}
.soc_icon1{
    display: block;
    background: url(../image/css_sprites.png) -151px -22px;
    width: 30px; 
    height: 30px;
    
}
.like_icon{

    display:block;
    width: 30px; height: 26px;
    background: url(../image/css_sprites.png) -96px -114px;
}

 .btn-light{
    background:linear-gradient(#fcfcfc,#dfdfdf);
    padding: 5px 60px;
    margin-bottom: 50px;
    box-shadow:0px 0px 6px 0 #e9e9e9;
    border: none;
    outline: none;

 }
.btn-light span{
    display: none;
}

.footer_menu .nav-item .nav-link{
    font-size: 13px;
    color: #a8a8a8;
    position: relative;
}
.footer_menu .nav-item .nav-link:hover{
    color: #fff;

}
.footer_menu .nav-item .nav-link:before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;

    background:#a8a8a8;
    top: 50%;
    right: 100%;
}

.border_bot{
    margin-bottom: 25px;
    height: 0;
    width: 100%;
    border-top: 2px solid #272727;
    border-bottom: 1px solid #504d4d;
}
.copyright{
    color: #919191;
    font-size: 14px;
}
.copyright_white{
    color: #fff;
    font-weight: 500;
}
.soc_footer{
    list-style: none;
}

.soc_footer a{
    display: inline-block;

    padding: 10px 13px 0 20px;
    width: 15px;
    height: 15px;
    background:url(../image/css_sprites_icons.png);
}

.soc_footer li a{
    background-position: -130px -20px;
}
.soc_footer li+li a{
    background-position: -20px -75px;
}
.soc_footer li+li+li a{
    background-position: -75px -20px;
}
.soc_footer li+li+li+li a{
    background-position: -175px -17px;
}

.soc_footer li+li+li+li+li a{
    background-position: -72px -69px;
}
.soc_footer li+li+li+li+li+li a{
    background-position: -20px -20px;
    padding-right: 0;
}

.soc_footer li a:hover{
    background: url(../image/sprites_hover.png);
    background-position: -130px -20px;
}
.soc_footer li+li a:hover{
    background: url(../image/sprites_hover.png);
    background-position: -20px -75px;
}
.soc_footer li+li+li a:hover{
    background: url(../image/sprites_hover.png);
    background-position: -75px -20px;
}
.soc_footer li+li+li+li a:hover{
    background: url(../image/sprites_hover.png);
    background-position: -175px -17px;
}
.soc_footer li+li+li+li+li a:hover{
    background: url(../image/sprites_hover.png);
    background-position: -72px -69px
}
.soc_footer li+li+li+li+li+li a:hover{
    background: url(../image/sprites_hover.png);
    background-position: -20px -20px;
}


@media (max-width:768px) { 

    .copyright{
        text-align: center;
    }
    .icon_footer .soc_footer{
        margin:0 auto;
    }
         
 } 
